@font-face {
    font-family: hank;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hank;
    border-radius: 25px;
}

body{
    background-color: hsl(221, 100%, 96%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 480px;
    height: 330px;
    margin: 0 auto;  
    box-shadow: 4px 8px 20px hsla(241, 81%, 54%, 0.13);
}

.card .Result{
    position: relative;
    padding: 15px;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 50%;
    height: 100%;
    text-align: center;
}
.Result #res{
    position: relative;
    margin-bottom: 15px;
    padding: 5px;
    color: hsl(241, 100%, 89%);
    font-size: 14px;
    font-weight: bold;    
}
.Result .circle{
    position: relative;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width: 120px;
    height: 120px;
    padding: 20px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 100%;
    text-align: center;
}

.circle .score{
    margin-top: 10px;
    color: hsl(0, 0%, 100%);
    font-size: 45px;
    font-weight: bolder;
    height: 50px;
}

.circle .to{
    color: hsla(241, 100%, 89%, 0.632);
    font-size: 12px;
}

.Result #g{
    color: hsl(0, 0%, 100%);;
    height: 30px;
    font-size: 20px;
}

.Result #des{
    color: hsl(241, 100%, 89%);
    font-size: 12px;
    margin: auto;
    padding: 10px;
    width: 190px;
    
}

.summary{
    position: relative;
    padding: 20px;
    width: 50%;
    height: 100%;
}
.summary .title{
    font-weight: bold;
}

.summary .details{
    position: relative;
    margin:18px auto;
    margin-bottom: 24px;
    width: auto;
}
.details div{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 35px;
    border-radius: 8px;
    font-size: small;
    font-weight: 600;
}
.details img{
    margin-right: 5px;
    margin-left: 5px;
    width: 15px;
    flex-shrink: 0;
}
.details .res{
    margin-left: auto;
    margin-right: 10px;   
}

.res .scr{
    color: black;
}
.res .total{
    color: rgb(128, 122, 122);
}

.details .reaction{
    background-color: hsla(0, 100%, 67%, 0.055);
    color: hsl(0, 100%, 67%);
}

.details .memory{
    background-color: hsla(39, 100%, 56%, 0.055);
    color: hsl(39, 100%, 56%);
    
}



.details .verbla{
    background-color: hsla(166, 100%, 37%, 0.055);
    color: hsl(166, 100%, 37%);
}

.details .visual{
    background-color: hsl(234, 85%, 45% ,0.055);
    color: hsl(234, 85%, 45%)
}

.summary .btn{
    position: relative;
    background-color: aliceblue;
    width: auto;
    margin: auto;
    text-align: center;
}
.btn button{
    width: 100%;
    height: 40px;
    color: white;
    background-color: hsl(224, 30%, 27%);
    border: none;
}

button:hover{
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (max-width: 480px) {
    .card {
        display: block;
        position: relative;
        margin: 0; 
        width: 100vw;
        min-height: 100vh;
        overflow:auto;
        border-radius: 0 ;
    }
    .card .Result{
        
        width: 100%;
        height: 42%;
        size: 200px;
        border-top-left-radius:0 ;
        border-top-right-radius:0 ;
    }
    .Result #res{
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: bold;    
    }
    .Result .circle{
        width: 140px;
        height: 140px;
        padding: 20px;
        margin: auto;
        margin-bottom: 15px;
        border-radius: 100%;
        text-align: center;
    }

    .circle .score{
        position: relative;
        margin-bottom: 15px;
        margin-top: 10px;
        color: hsl(0, 0%, 100%);
        font-size: 55px;
        font-weight: bolder;
        height: 50px;
    }

    .circle .to{
        color: hsla(241, 100%, 89%, 0.632);
        font-size: 14px;
    }

    .Result #g{
        color: hsl(0, 0%, 100%);;
        height: 30px;
        font-size: 25px;
    }

    .Result #des{
        color: hsl(241, 100%, 89%);
        font-size: 15px;     
        padding: 10px;
        width: 280px; 
    }

    .summary{
        width: 100%;
        height: auto;
    }
     .summary .title{
        font-size: large;
     }
    .summary .details div{
        height: 65px;
        font-size: medium;
        padding: 12px;
        margin-bottom: 20px;
    }

    .details img{
        width: 25px;
    }

    .summary button{
        height: 55px;
    }
}

